.container{
	width: 90%;
	max-width: 960px;
	margin: auto
}

.hand{
	width:100%;
	height:280px;
	margin: 0;
	padding: 0;

}

.player-name{
	width: 100%;
	text-align: center;
	height:40px;
	margin: 0;
	padding: 0;

}

.player-cards{
	width: 100%;
	height: 240px;
	margin: 0;
	padding: 0;
	
}

.card{
	width: 18%;
	height: 100%;
	margin: 0;
	padding: 0;
	display: inline-block;
	float: left;
	background-color: red;
	margin-right: 1%;
	margin-left: 1%;
	border-radius: 10px;
}
.card-value{
	height: 30px;
	width: 30px;
	padding-top: 105px;
	margin: auto;
}

.options{
	height:120px;
	width: 100%;
}